body{
    background-color:#000000;
    color:#ffffff;
    font-family: Arial,Verdana !important;
    margin: 20px 20px 0px 20px !important;
    margin-bottom: 0 !important;
}
main h1{
    font-size: 42px;
    padding: 15px;
    text-align: center;
}

div p{
    font-size: 24px;
    padding: 10px 0px 0px 10px;
}
main h2{
    font-size: 30px !important;
    color:#0D0D0D;
}
main img{
    width: 250px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed #ffffff;
}
main div{
    min-height: 125px;
    padding: 20px;
    border: 3px solid #ffffff;
}
.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}
.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-style : solid;
    border-width: 0px 0px 2px 5px;
}
.red p{
    color: #ffffff;
}
.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0 0;
    border-style: solid;
  }
  
.blue h2,p {
    color: #C4C4C4;
}
.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-style: solid;
    border-width: 0 0 2px 5px;
    color: #707070; 
}
.yellow p{
    color: #707070;

}
  
.green {
    background-color:#008500;
    text-align: left;
    margin-right: 50px;
    border-style: solid;
    border-width: 2px 5px 0 0;
}
.green p{
    color:#ffffff;
}
footer {
    border: 5px solid #ffffff !important;
    background:linear-gradient(90deg, #000000, #0000ff 25%, #0066ff 70%, #000000);
}

footer p{
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0px;
}

